#particles-js{
    position: relative;
    height: 100%;
    width: 100%;
}
body{
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, #0e00f5 , #009ef5, #0e00f5);
}
.bdy{
    /*border: 1px solid black;*/
    position: absolute;
    height: 300px;
    width: 500px;
    top: 0;
	right: 0;
	bottom: 0;
	left: 0;
    margin-left: auto;
    margin-right: auto;
}
textpath{
    background-color: #333;
    font-family: 'Luckiest Guy', cursive;
    font-size: 65px;
    font-family: 'Pacifico', cursive;
}
object{
    position: absolute;
    top: 20;
	right: 0;
	bottom: 0;
	left: 0;
    margin-left: auto;
    margin-right: auto;
}
.one{
    position: absolute;
    height: 230px;
    width: 230px;
    left: 0;
    margin-left: 47px;
    margin-top: 47px;
    transform: rotate(45deg);
    -webkit-transition: transform 0.7s;
    transition: transform 0.7s;
}
.one:hover{
    transform: rotate(0deg) scale(1.3);
}
.two{
    position: absolute;
    height: 230px;
    width: 230px;
    right: 0;
    margin-right: 47px;
    margin-top: 47px;
    transform: rotate(-45deg);
    -webkit-transition: transform 0.7s;
    transition: transform 0.7s;
}
.two:hover{
    transform: rotate(0deg) scale(1.3);
}